<h1>Listing menu_to_roles</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Menu</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_to_roles.each do |menu_to_role| %>
      <tr>
        <td><%= menu_to_role.role_id %></td>
        <td><%= menu_to_role.menu_id %></td>
        <td><%= link_to 'Show', menu_to_role %></td>
        <td><%= link_to 'Edit', edit_menu_to_role_path(menu_to_role) %></td>
        <td><%= link_to 'Destroy', menu_to_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu to role', new_menu_to_role_path %>
